x-stop-grace-period: &stop-grace-period-policy
    # NOTE: Voting round 90s + reveal deadline 45s + signatures grace 10s
    stop_grace_period: 145s 

x-restart: &restart-policy
    restart: unless-stopped

volumes:
  indexer_data:

services:
  c-chain-indexer-db:
    <<: *restart-policy
    image: "mysql:9.5.0"
    profiles: [fsp, ftso, fdc]
    environment:
      MYSQL_ROOT_PASSWORD: "root"
    volumes:
      - ./config/init.sql:/docker-entrypoint-initdb.d/db_init.sql
      - indexer_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent", "--host", "localhost", "-proot"]
      timeout: 20s
      retries: 10

  c-chain-indexer:
    <<: *restart-policy
    image: ghcr.io/flare-foundation/flare-system-c-chain-indexer:v1.1.2
    profiles: [fsp, ftso, fdc]
    environment:
      # db
      DB_HOST: "c-chain-indexer-db"
      DB_PORT: 3306
      DB_DATABASE: "flare_ftso_indexer"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"
      # node
      NODE_API_KEY: ${NODE_API_KEY}
      NODE_URL: ${NODE_RPC_URL}
    volumes:
      - ./mounts/c-chain-indexer/config.toml:/app/config.toml
    depends_on:
      c-chain-indexer-db:
        condition: service_healthy

  system-client:
    <<: [*restart-policy, *stop-grace-period-policy]
    image: ghcr.io/flare-foundation/flare-system-client:v1.0.8
    profiles: [fsp, system-client]
    environment:
      # db
      DB_HOST: "c-chain-indexer-db"
      DB_PORT: 3306
      DB_DATABASE: "flare_ftso_indexer"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"
      # node
      ETH_RPC_URL: ${NODE_RPC_URL}
      API_KEY: ${NODE_API_KEY}
      # private keys
      SYSTEM_CLIENT_SENDER_PRIVATE_KEY: ${SIGNING_PK}
      SIGNING_POLICY_PRIVATE_KEY: ${SIGNING_PK}
      PROTOCOL_MANAGER_SUBMIT_PRIVATE_KEY: ${SUBMIT_PK}
      PROTOCOL_MANAGER_SUBMIT_SIGNATURES_PRIVATE_KEY: ${SIGNATURES_PK}
      # underlying client api keys
      PROTOCOL_X_API_KEY_100: ${PROTOCOL_X_API_KEY_100}
      PROTOCOL_X_API_KEY_200: ${PROTOCOL_X_API_KEY_200}
    volumes:
      - ./mounts/system-client/config.toml:/app/config.toml
    depends_on:
      - c-chain-indexer

  ftso-client:
    <<: [*restart-policy, *stop-grace-period-policy]
    image: ghcr.io/flare-foundation/ftso-scaling:v1.0.4
    command: "node dist/apps/ftso-data-provider/apps/ftso-data-provider/src/main.js"
    profiles: [fsp, ftso]
    environment:
      DB_HOST: "c-chain-indexer-db"
      DB_PORT: 3306
      DB_NAME: "flare_ftso_indexer"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"
    env_file:
      - ./mounts/ftso-client/.env
    depends_on:
      - c-chain-indexer

  fdc-client:
    <<: [*restart-policy, *stop-grace-period-policy]
    image: ghcr.io/flare-foundation/fdc-client:v1.2.5
    profiles: [fsp, fdc]
    environment:
      DB_HOST: "c-chain-indexer-db"
      DB_PORT: 3306
      DB_DATABASE: "flare_ftso_indexer"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"
    volumes:
      - ./mounts/fdc-client/config.toml:/app/configs/userConfig.toml
    depends_on:
      - c-chain-indexer

  fast-updates:
    <<: *restart-policy
    image: ghcr.io/flare-foundation/fast-updates/go-client:v1.0.2
    profiles: [fast-updates]
    environment:
      SIGNING_PRIVATE_KEY: ${SIGNING_PK}
      ACCOUNTS: ${FAST_UPDATES_ACCOUNTS}
      SORTITION_PRIVATE_KEY: ${FAST_UPDATES_SORTITION_PRIVATE_KEY}
      NODE_URL: ${NODE_RPC_URL}
      API_KEY: ${NODE_API_KEY}
    volumes:
      - ./mounts/fast-updates/config.toml:/app/config.toml
    depends_on:
      - c-chain-indexer
