[db]
log_queries = false

[logger]
level = "INFO"
file = "./logs/flare-tlc.log"
max_file_size = 10
console = true

[metrics]
prometheus_address = ""

[chain]
chain_id = ${CHAIN_ID}

[contract_addresses]
submission = "$SUBMISSION"
systems_manager = "$FLARE_SYSTEMS_MANAGER"
voter_registry = "$VOTER_REGISTRY"
voter_preregistry = "$VOTER_PRE_REGISTRY"
relay = "$RELAY"

[identity]
address = "$IDENTITY"

[clients]
enabled_registration = true
enabled_pre_registration = true
enabled_protocol_voting = true
enabled_finalizer = true
enabled_uptime_voting = true

[protocol.ftso1]
id = 100
type = 1
api_endpoint = "http://ftso-client:3100/"

[protocol.fdc1]
id = 200
type = 1
api_endpoint = "http://fdc-client:8080/fsp"

[submit1]
start_offset = "75s"   
tx_submit_retries = 3
tx_submit_timeout = "4s"

[submit2]
start_offset = "20s"
tx_submit_retries = 3
tx_submit_timeout = "4s"

[submit_signatures]
start_offset = "45s"
deadline = "56s"
tx_submit_timeout = "4s"
tx_submit_retries = 3
data_fetch_retries = 1
data_fetch_timeout = "2s"
cycle_duration = "2s"
max_cycles = 3

[finalizer]
starting_reward_epoch = 0
grace_period_end_offset = "65s"

[gas_submit]
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei

[gas_register]
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei

[gas_relay]
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei

[gas_systems_manager]
maximal_max_priority_fee = 5000_000_000_000 # 5000 Gwei
minimal_max_priority_fee = 100_000_000_000 # 100 Gwei

